<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <p>Fonts</p>
      <h1>This is the main title: Lorem ipsum dolor</h1>
      <h2>Secondary title: sit amet consectur</h2>
      <h3>Tertiary title sit amet consectur</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat.</p>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <p>Buttons</p>
      <p>Primary</p>
      <button type="button" class="btn btn-success text-white">Call to action</button>
      <p>Secondary</p>
      <button type="button" class="btn shadow text-orange">Call to action</button>
      <p>Filters</p>
      <button type="button" class="btn btn-primary active-filter">Active filter</button>
      <button type="button" class="btn inactive-filter">Inactive filter</button>
      <p>Add buttons</p>
      <%= image_tag "add-button.svg" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <p>Form</p>

    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <p>Orange Card</p>
      <div class="card-white">
        <h2>Secondary Title</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
          ex ea commodo consequat.</p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.</p>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <p>Orange Card</p>
      <div class="card-orange">
        <h2>Secondary Title</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
          ex ea commodo consequat.</p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.</p>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <p>Expenses Cards</p>
      <div class="expenses-card-white">
        <div class="expense-details d-flex justify-content-between align-items-center">
          <div class="expense-name">
            <h3>Expense</h3>
            <p>Date: 13/05/1991</p>
          </div>
          <div class="expense-avatar">
            <%= image_tag "victor-mendoza.jpg", class: "avatar-secondary-orange" %>
          </div>
          <div class="expense-price">
            <h3>16,40€</h3>
            <p>By: Victor M</p>
          </div>
        </div>

        <div class="expense-details d-flex justify-content-between align-items-center">
          <div class="expense-name">
            <h3>Expense</h3>
            <p>Date: 13/05/1991</p>
          </div>
          <div class="expense-avatar">
            <%= image_tag "victor-mendoza.jpg", class: "avatar-secondary-orange" %>
          </div>
          <div class="expense-price">
            <h3>16,40€</h3>
            <p>By: Victor M</p>
          </div>
        </div>

        <div class="expense-details d-flex justify-content-between align-items-center">
          <div class="expense-name">
            <h3>Expense</h3>
            <p>Date: 13/05/1991</p>
          </div>
          <div class="expense-avatar">
            <%= image_tag "victor-mendoza.jpg", class: "avatar-secondary-orange" %>
          </div>
          <div class="expense-price">
            <h3>16,40€</h3>
            <p>By: Victor M</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <p>Expense Card Half Size</p>
      <div class="d-flex">
        <div class="card-half-orange">
          <h3>Bill name</h2>
          <p>Date:<br>28/04/2020</p>
          <div class="d-flex justify-content-between align-items-end">
            <p class="secondary-p m-0">Pending</p>
            <h3 class="m-0">182,42€</h3>
          </div>
        </div>

        <div class="card-half-gray">
          <h3>Bill name</h2>
          <p>Date:<br>28/04/2020</p>
          <div class="d-flex justify-content-between align-items-end">
            <p class="secondary-p m-0">Solved</p>
            <h3 class="m-0">182,42€</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <p>Expense card avatar gray</p>
        <div class="card-gray">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <%= image_tag "victor-mendoza.jpg", class: "avatar-secondary-orange mr-2" %>
              <h3>Victor M</h3>
            </div>
            <div class="text-center">
              <h2>353€</h2>
              <p class="secondary-p">Has to pay</p>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center mt-4">
          <button type="button" class="btn shadow text-orange">Call to action</button>
          <a class="secondary-link" href="">Already paid</a>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <p>Expense card avatar white</p>
        <div class="expenses-card-white">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <%= image_tag "victor-mendoza.jpg", class: "avatar-primary-orange" %>
              <h3>Victor M</h3>
            </div>
            <div class="text-center">
              <h2>1400€</h2>
              <p class="secondary-p">Has to pay</p>
            </div>
          </div>
        </div>

        <div class="expenses-card-white">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <%= image_tag "victor-mendoza.jpg", class: "avatar-primary-orange" %>
              <h3>Camille</h3>
            </div>
            <div class="text-center">
              <h2>350€</h2>
              <p class="secondary-p">Has paid to Victor</p>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-8">
      <p>Icons for calendar</p>
      <i class="far fa-calendar"></i>
      <i class="fas fa-location-arrow"></i>
      <i class="fas fa-suitcase-rolling"></i>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <p>Calendar card</p>
      <div class="calendar-card-white">
        <h3>Holidays</h3>
        <div class="d-flex justify-content-between align-items-center">
          <p>May, 2 - May, 21</p>
          <i class="far fa-calendar"></i>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <p>Bali, Indonesia</p>
          <i class="fas fa-location-arrow"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <p>Avatars</p>
      <p>Primary avatars</p>
        <!-- <div class="avatar-primary-orange" style="background-image: url(<%= image_path "victor-mendoza.jpg" %>)">
        <div class="avatar-primary-gray" style="background-image: url(<%= image_path "victor-mendoza.jpg" %>)">
        </div>-->
      <%= image_tag "victor-mendoza.jpg", class: "avatar-primary-orange" %>
      <%= image_tag "victor-mendoza.jpg", class: "avatar-primary-gray" %>
      <p>Avatar Secondary</p>
      <%= image_tag "victor-mendoza.jpg", class: "avatar-secondary-orange" %>
      <%= image_tag "victor-mendoza.jpg", class: "avatar-secondary-gray" %>
    </div>
  </div>
</div>




















