<div class="component-container my-5">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p>Fonts</p>
        <h1>This is the main title: Lorem ipsum dolor</h1>
        <h2>Secondary title: sit amet consectur</h2>
        <h3>Tertiary title sit amet consectur</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
          ex ea commodo consequat.</p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p class="mt-4">Buttons</p>
        <p class="mt-4">Primary</p>
        <button type="button" class="btn btn-success text-white">Call to action</button>
        <p class="mt-4">Secondary</p>
        <button type="button" class="btn btn-info shadow text-orange">Call to action</button>
        <p class="mt-4">Filters</p>
        <button type="button" class="btn btn-primary active-filter text-white">Active filter</button>
        <button type="button" class="btn btn-light inactive-filter">Inactive filter</button>
        <p class="mt-4">Add buttons</p>
        <%= image_tag "add-button.svg" %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p class="mt-4">Orange Card</p>
        <div class="card-white">
          <h2>Secondary Title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat.</p>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p class="mt-4">Orange Card</p>
        <div class="card-orange">
          <h2>Secondary Title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat.</p>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p class="mt-4">Expenses Cards</p>
        <div class="expenses-card-white">
          <div class="expense-details d-flex justify-content-between align-items-center">
            <div class="expense-name">
              <h3>Expense</h3>
              <p>Date: 13/05/1991</p>
            </div>
            <div class="expense-avatar">
              <%= image_tag "victor-mendoza.jpg", class: "avatar-secondary-orange" %>
            </div>
            <div class="expense-price">
              <h3>16,40€</h3>
              <p>By: Victor M</p>
            </div>
          </div>

          <div class="expense-details d-flex justify-content-between align-items-center">
            <div class="expense-name">
              <h3>Expense</h3>
              <p>Date: 13/05/1991</p>
            </div>
            <div class="expense-avatar">
              <%= image_tag "victor-mendoza.jpg", class: "avatar-secondary-orange" %>
            </div>
            <div class="expense-price">
              <h3>16,40€</h3>
              <p>By: Victor M</p>
            </div>
          </div>

          <div class="expense-details d-flex justify-content-between align-items-center">
            <div class="expense-name">
              <h3>Expense</h3>
              <p>Date: 13/05/1991</p>
            </div>
            <div class="expense-avatar">
              <%= image_tag "victor-mendoza.jpg", class: "avatar-secondary-orange" %>
            </div>
            <div class="expense-price">
              <h3>16,40€</h3>
              <p>By: Victor M</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p class="mt-4">Expense Card Half Size</p>
        <div class="d-flex">
          <div class="card-half-orange">
            <h3>Bill name</h2>
            <p>Date:<br>28/04/2020</p>
            <div class="d-flex justify-content-between align-items-end">
              <p class="secondary-p m-0">Pending</p>
              <h3 class="m-0">182,42€</h3>
            </div>
          </div>

          <div class="card-half-gray">
            <h3>Bill name</h2>
            <p>Date:<br>28/04/2020</p>
            <div class="d-flex justify-content-between align-items-end">
              <p class="secondary-p m-0">Solved</p>
              <h3 class="m-0">182,42€</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p class="mt-4">Expense card avatar gray</p>
          <div class="card-gray">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <%= image_tag "victor-mendoza.jpg", class: "avatar-secondary-orange mr-2" %>
                <h3>Victor M</h3>
              </div>
              <div class="text-center">
                <h2>353€</h2>
                <p class="secondary-p">Has to pay</p>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-4">
            <button type="button" class="btn shadow text-orange">Call to action</button>
            <a class="secondary-link" href="">Already paid</a>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p class="mt-4">Expense card avatar white</p>
          <div class="expenses-card-white">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <%= image_tag "victor-mendoza.jpg", class: "avatar-secondary-orange" %>

                <h3>Victor M</h3>
              </div>
              <div class="text-center">
                <h2>1400€</h2>
                <p class="secondary-p">Has to pay</p>
              </div>
            </div>
          </div>

          <div class="expenses-card-white">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">

                <%= image_tag "victor-mendoza.jpg", class: "avatar-primary-orange" %>

                <h3>Camille</h3>
              </div>
              <div class="text-center">
                <h2>350€</h2>
                <p class="secondary-p">Has paid to Victor</p>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-8">
        <p class="mt-4">Icons for calendar</p>
        <i class="far fa-calendar"></i>
        <i class="fas fa-location-arrow"></i>
        <i class="fas fa-suitcase-rolling"></i>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p class="mt-4">Calendar card</p>
        <div class="calendar-card-white">
          <h3>Holidays</h3>
          <div class="d-flex justify-content-between align-items-center">
            <p>May, 2 - May, 21</p>
            <i class="far fa-calendar"></i>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <p>Bali, Indonesia</p>
            <i class="fas fa-location-arrow"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p class="mt-4">Avatars</p>
        <p class="mt-4">Primary avatars</p>
          <!-- <div class="avatar-primary-orange" style="background-image: url(<%= image_path "victor-mendoza.jpg" %>)">
          <div class="avatar-primary-gray" style="background-image: url(<%= image_path "victor-mendoza.jpg" %>)">
          </div>-->
        <%= image_tag "victor-mendoza.jpg", class: "avatar-primary-orange" %>
        <%= image_tag "victor-mendoza.jpg", class: "avatar-primary-gray" %>
        <p class="mt-4">Avatar Secondary</p>
        <%= image_tag "victor-mendoza.jpg", class: "avatar-secondary-orange" %>
        <%= image_tag "victor-mendoza.jpg", class: "avatar-secondary-gray" %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p class="mt-4">Check buttons</p>
        <%= image_tag "check-done.svg" %>
        <%= image_tag "check-undone.svg" %>
        <p class="mt-4">Tasks cards - high padding</p>
        <div class="task-card-white-high">
          <div class="d-flex justify-content-between align-items-center">
            <p>Washing dishes</p>
            <%= image_tag "check-done.svg" %>
          </div>
        </div>
        <div class="task-card-white-high">
          <div class="d-flex justify-content-between align-items-center">
            <p>Washing dishes</p>
            <%= image_tag "check-undone.svg" %>
          </div>
        </div>
        <p class="mt-4">Tasks cards - low padding</p>
        <div class="task-card-white-low">
          <div class="d-flex justify-content-between align-items-center">
            <p>Washing dishes</p>
            <%= image_tag "check-done.svg" %>
          </div>
        </div>
        <div class="task-card-white-low">
          <div class="d-flex justify-content-between align-items-center">
            <p>Washing dishes</p>
            <%= image_tag "check-undone.svg" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 my-5">
        <p>Kitchen areas</p>
        <div class="task-container d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <div class="mr-4">
              <i class="far fa-calendar fa-3x"></i>
            </div>
            <div>
              <h2>Kitchen</h2>
              <p>Victor</p>
            </div>
          </div>
          <div>
            <i class="fas fa-circle"></i>
            <i class="fas fa-circle"></i>
            <i class="far fa-circle"></i>
            <i class="far fa-circle"></i>
            <i class="far fa-circle"></i>
          </div>
        </div>

        <div class="task-container d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <div class="mr-4">
              <i class="far fa-calendar fa-3x"></i>
            </div>
            <div>
              <h2>Kitchen</h2>
              <p>Victor</p>
            </div>
          </div>
          <div>
            <i class="fas fa-circle"></i>
            <i class="fas fa-circle"></i>
            <i class="far fa-circle"></i>
            <i class="far fa-circle"></i>
            <i class="far fa-circle"></i>
          </div>
        </div>

        <div class="task-container d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <div class="mr-4">
              <i class="far fa-calendar fa-3x"></i>
            </div>
            <div>
              <h2>Kitchen</h2>
              <p>Victor</p>
            </div>
          </div>
          <div>
            <i class="fas fa-circle"></i>
            <i class="fas fa-circle"></i>
            <i class="far fa-circle"></i>
            <i class="far fa-circle"></i>
            <i class="far fa-circle"></i>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <p class="mt-4">Message from mates</p>
        <div class="card-message name-blue">
          <h3>Jesus</h3>
          <p>Amazing! I have an Amazon package arriving,
          could you take it for me plase?</p>
          <p class="secondary-p">7:03am</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="mt-4">Message from You</p>
        <div class="card-message name-orange float-right">
          <h3>You</h3>
          <p>Amazing! I have an Amazon package arriving,
          could you take it for me plase?</p>
          <p class="secondary-p">7:03am</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="mt-4">Box text message</p>
        <div class="card-send-message">
          <p>Type your message here...</p>
          <%= image_tag 'send-button.svg',class:"send-button" %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <p class="mt-4">Chat's tabs</p>
        <div class="tabs d-flex justify-content-around align-items-center">
          <div class="tab d-flex justify-content-center flex-column">
            <div class="d-flex align-items-center">
              <div class="d-flex align-items-center flex-column">
                <h3>Flatmates</h3>
                <div class="orange-line"></div>
              </div>
              <i class="ml-4 fas fa-angle-down"></i>
            </div>
          </div>
          <div class="tab d-flex justify-content-center flex-column">
            <div class="d-flex align-items-center">
              <div class="d-flex align-items-center flex-column">
                <h3 class="text-light">Landlord</h3>

              </div>
            </div>
          </div>
        </div>

        <div class="mt-4"></div>

        <div class="tabs d-flex justify-content-around align-items-center">
          <div class="tab d-flex justify-content-center flex-column">
            <div class="d-flex align-items-center">
              <div class="d-flex align-items-center flex-column">
                <h3 class="text-light">Flatmates</h3>
              </div>
            </div>
          </div>
          <div class="tab d-flex justify-content-center flex-column">
            <div class="d-flex align-items-center">
              <div class="d-flex align-items-center flex-column">
                <h3>Landlord</h3>
                <div class="orange-line"></div>
              </div>

              <i class="ml-4 fas fa-angle-down"></i>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>



</div>


















