<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-6">
      <div data-controller="invitations">
        <%= form_with(url: flat_invitations_path(@flat), class: 'form-member') do %>
          <div class="form-group d-flex flex-column">
            <%= label_tag(:member, "Add your mates here") %>
              <div data-target="invitations.field">
                <%= text_field_tag "member[]", nil, class: 'mb-2 form-control', placeholder: "Your mate's email" %>
                <div class="d-flex justify-content-center align-items-center" data-target="invitations.button"  >
                  <%= image_tag('add-button.svg', height: '50', class: 'cursor-pointer', data: { action: "click->invitations#addField", target: "invitations.button"}) %>
                  <p class="m-0">Add more</p>
                </div>
                <div class="mb-2 additional-fields" data-target="invitations.additionalFields" >
                </div>
              </div>
            <%= submit_tag("Invite", class: 'btn btn-primary text-white')%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

