<div class="container">
  <div class="row">
    <div class="col-12">
      <% if @notifications.length == 0 %>
        <h3 class="my-4">You don't have any notifications</h3>
      <% else %>
        <% @notifications.each_with_index do |notification, index| %>
          <% if notification.notifiable_type == "Bill" %>
          <!-- NEW BILL ADDED -->

            <%= link_to flat_bill_path(notification.notifiable.flat_id, notification.notifiable.id), class: "secondary-link text-decoration-none" do %>
              <div class="row calendar-card-white my-3">
                <div class="col-2 justify-content-start align-items-center d-flex">
                  <!-- AVATAR -->
                  <% if notification.notifiable.user.picture.attached? %>
                    <%= cl_image_tag notification.notifiable.user.picture.key, class: 'avatar-secondary-gray' %>
                  <% else %>
                    <i class="fas fa-user-circle fa-2x"></i>
                  <% end %>
                </div>
                <div class="col-8 justify-content-start align-items-start">
                  <!-- USER NAME -->
                  <h6><%= notification.notifiable.user.first_name %></h6>
                  <!-- BILL NAME -->
                  <p>Added <%= notification.notifiable.name %></p>
                </div>
                <div class="col-2 justify-content-end align-items-center d-flex">
                  <i class="fas fa-file-invoice-dollar fa-2x text-primary"></i>
                </div>
              </div>
            <% end %>

          <!-- NEW EVENT ADDED -->
          <% elsif notification.notifiable_type == "Event" %>
            <%= link_to flat_event_path(notification.notifiable.flat_id, notification.notifiable.id), class: "secondary-link text-decoration-none" do %>
              <div class="row calendar-card-white my-3">
                <div class="col-2 justify-content-start align-items-center d-flex">
                  <!-- AVATAR -->
                  <% if notification.notifiable.user.picture.attached? %>
                    <%= cl_image_tag notification.notifiable.user.picture.key, class: 'avatar-secondary-gray' %>
                  <% else %>
                    <i class="fas fa-user-circle fa-2x"></i>
                  <% end %>
                </div>
                <div class="col-8 justify-content-start align-items-start">
                  <!-- USER NAME -->
                  <h6><%= notification.notifiable.user.first_name %></h6>
                  <!-- EVENT NAME -->
                  <p>Created a new event <strong><%= notification.notifiable.name %></strong> for <%= notification.notifiable.start_date.day %>/<%= notification.notifiable.start_date.month %> </p>
                </div>
                <div class="col-2 justify-content-end align-items-center d-flex">
                  <i class="fas fa-calendar-alt fa-2x text-primary"></i>
                </div>
              </div>
            <% end %>

          <!-- NEW AREA ASSINGMENT -->
          <% elsif notification.notifiable_type == "Area" %>
            <%= link_to flat_event_path(notification.notifiable.flat_id, notification.notifiable.id), class: "secondary-link text-decoration-none" do %>
              <% if notification.notifiable.assigned_user_id == current_user.id %>
                <div class="row calendar-card-white my-3">
                  <div class="col-10 justify-content-start align-items-start">
                    <!-- AREA NAME -->
                    <p>You have been assigned to <strong><%= notification.notifiable.name %></strong></p>
                  </div>
                  <div class="col-2 justify-content-end d-flex">
                    <i class="fas fa-tasks fa-2x text-primary"></i>
                  </div>
                </div>
              <% end %>
            <% end %>

          <!-- NEW MESSAGE IN CHAT -->
          <% else %>
            <div class="calendar-card-white my-3">
              Chat
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
