<%= link_to ApplicationController.helpers.notification_path(notification), class: "secondary-link text-decoration-none " do %>
  <div class="row calendar-card-white my-3 notification <%= "notification-background-seen" if !(notification.opened_at.nil?) %>">
    <div class="col-2 justify-content-start align-items-center d-flex">
      <!-- AVATAR -->
      <% if ApplicationController.helpers.notification_user(notification)&.picture&.attached? %>
        <%= cl_image_tag ApplicationController.helpers.notification_user(notification).picture.key, class: 'avatar-secondary-gray' %>
      <% else %>
        <i class="fas fa-user-circle fa-2x"></i>
      <% end %>
    </div>
    <div class="col-8 justify-content-start align-items-start">
      <!-- USER NAME -->
      <% if notification.notifiable_type != "Message" %>
        <h6><%= ApplicationController.helpers.notification_user(notification)&.first_name %></h6>
      <% end %>
      <!-- NOTIFICATION NAME -->
      <p><%= ApplicationController.helpers.notification_message(notification).try(:html_safe) %></p>
      <p class="smaller-text"><%= distance_of_time_in_words(Time.now, notification.created_at)%> ago</p>
    </div>
    <div class="col-2 justify-content-end align-items-center d-flex">
      <i class="<%= NOTIFICATIONS_ICONS[notification.notifiable_type.to_sym] %> fa-2x text-primary"></i>
    </div>
  </div>
<% end %>
