<!-- FLAT NAME -->
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center"><%= @flat.name %></h2>
    </div>
  </div>
</div>

<!-- AVATARS -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 justify-content-center d-flex">
      <div class="d-flex flex-column align-items-center">
        <!-- CURRENT USER AVATAR -->
        <% if current_user.picture.attached? %>
          <%= cl_image_tag current_user.user.picture.key, class: 'avatar-primary-gray' %>
        <% else %>
          <i class="fas fa-user-circle fa-3x"></i>
        <% end %>
        <p>You</p>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <% @flat_flatmembers.each do |flatmember| %>
      <% if flatmember.user.id != current_user.id %>
        <div class="col-3 justify-content-center d-flex">
          <div class="d-flex flex-column align-items-center">
            <!-- FLATMEMBERS AVATAR AND NAME -->
              <% if flatmember.user.picture.attached? %>
                <%= cl_image_tag flatmember.user.picture.key, class: 'avatar-secondary-gray' %>
              <% else %>
                <i class="fas fa-user-circle fa-2x"></i>
              <% end %>
              <p><%= flatmember.user.first_name %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<!-- NOTIFICATIONS NAME -->
<div class="container mt-5 mb-1">
  <div class="row">
    <div class="col-12">
      <h4 class="text-start">Latest changes</h4>
    </div>
  </div>
</div>

<!-- NOTIFICATIONS -->
<%= render "notifications" %>

