<!-- FLAT NAME -->
<div class="container mt-4">
  <div class="card-white">
    <div class="container">
      <div class="row">
        <div class="col-12" data-controller="flats">
          <div
            data-action="click->flats#changeNameToInput"
            data-id="<%= @flat.id %>"
            data-target="flats.title"
          >
            <h1 class="text-center">🏡 <%= @flat.name %></h1>
          </div>
          <p class="text-center secondary-p"> <i class="fas fa-map-marker-alt text-orange"></i> <%= @flat.full_address %></p>
        </div>
      </div>
    </div>

    <!-- AVATARS -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 justify-content-center d-flex">
          <div class="d-flex flex-column align-items-center">
            <!-- CURRENT USER AVATAR -->
            <div id="dropdown-menu-custom"  class="dropdown">
              <button role="button" type="button" class="btn dropdown p-0" data-toggle="dropdown">
                <% if current_user.picture.attached? %>
                  <%= cl_image_tag current_user.picture.key, :quality=>100, class: 'avatar-primary-gray' %>
                <% else %>
                  <i class="fas fa-user-circle fa-3x"></i>
                <% end %>
                  <p>You</p>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" data-remote="true">
                <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item" %>
                <% if current_user.flatmembers.first.is_admin == true %>
                  <%= link_to "Delete Flat", flat_path(@flat), method: :delete, data: { confirm: "Are you sure?" }, class: "dropdown-item" %>
                <% end %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <% @flat_flatmembers.each do |flatmember| %>
          <% if flatmember.user.id != current_user.id %>
            <div class="col-3 justify-content-center d-flex">
              <div class="d-flex flex-column align-items-center">
                <!-- FLATMEMBERS AVATAR AND NAME -->
                <div id="dropdown-menu-custom" class="dropdown">
                  <button role="button" type="button" class="btn dropdown p-0" data-toggle="dropdown">
                    <% if flatmember.user.picture.attached? %>
                      <%= cl_image_tag flatmember.user.picture.key, :quality=>100, class: 'avatar-secondary-gray' %>
                    <% else %>
                      <i class="fas fa-user-circle fa-2x"></i>
                    <% end %>
                      <p><%= flatmember.user.first_name %></p>
                  </button>
                  <% if current_user.flatmembers.first.is_admin == true %>
                    <div class="dropdown-menu p-1 text-center" aria-labelledby="dropdownMenuButton" data-remote="true">
                      <%= link_to "Delete member",
                        flatmember_path(flatmember),
                        class: "dropdown-item",
                        method: :delete,
                        data: { confirm: "Are you sure?",
                        } %>
                      <% if flatmember.is_admin %>
                        <p class="dropdown-item m-0 background-admin">Admin</p>
                      <% else %>
                        <%= simple_form_for flatmember, class: "dropdown-item background-none p-0 m-0", url: flat_flatmember_path(@flat, flatmember), method: :patch, remote: true do |f| %>
                          <%= f.input :is_admin, :as => :hidden, :input_html => { :value => :true } %>
                          <%= f.submit "Make admin", class: "dropdown-item submit-tag p-0" %>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-12 justify-content-center align-items-center d-flex mt-3">
        <%= link_to "+ Add Members", flat_members_path(@flat), class: "btn btn-info shadow text-orange px-4" %>
      </div>
    </div>
  </div>
</div>

<!-- NOTIFICATIONS NAME -->
<div class="container">
  <div class="container mt-5 mb-1">
    <div class="row">
      <div class="col-12">
        <h4 class="text-start">Latest changes</h4>
      </div>
    </div>
  </div>

  <!-- NOTIFICATIONS -->
  <%= render "notifications" %>
</div>

