<div class="navbar-smartphone">

  <%= link_to flat_path(@flat) do %>
    <% css_class_flat = controller?('flats') ? "text-orange" : "text-gray" %>
    <div class="navbar-home <%= css_class_flat %>">
      <i class=" <%= "#{ICONS_NAVBAR[:home]}" %> "></i>
      <p>Home</p>
    </div>
  <% end %>

  <%= link_to flat_bills_path(@flat) do %>
    <% css_class_bill = controller?('bills') ? "text-orange" : "text-gray" %>
    <div class="navbar-bills <%= css_class_bill %>">
      <i class=" <%= "#{ICONS_NAVBAR[:bill]}" %> "></i>
      <p>Bills</p>
    </div>
  <% end %>

  <%= link_to flat_areas_path(@flat, @area) do %>
    <% css_class_task = controller?('areas') ? "text-orange" : "text-gray" %>
    <div class="navbar-tasks <%= css_class_task %> ">
      <i class=" <%= "#{ICONS_NAVBAR[:task]}" %> "></i>
      <p>Tasks</p>
    </div>
  <% end %>

  <%= link_to flat_events_path(@flat, @event) do %>
    <% css_class_event = controller?('events') ? "text-orange" : "text-gray" %>
    <div class="navbar-events <%= css_class_event %> ">
      <i class=" <%= "#{ICONS_NAVBAR[:event]}" %> "></i>
      <p>Events</p>
    </div>
  <% end %>

  <% notifications_count = current_user.notifications.where(notifiable_type: 'Message', opened_at: nil).count %>
  <% css_class_chatroom = controller?('chatrooms') ? "text-orange" : "text-gray" %>
  <% if notifications_count == 0 %>
    <%= link_to flat_chatrooms_path(@flat) do %>
        <div class="navbar-chat <%= css_class_chatroom %> ">
          <i class=" <%= "#{ICONS_NAVBAR[:chatroom]}" %> "></i>
          <p>Chat</p>
        </div>
    <% end %>
  <% else %>
    <%= link_to flat_chatrooms_path(@flat) do %>
        <div class="navbar-chat <%= css_class_chatroom %> ">
          <i class=" <%= "#{ICONS_NAVBAR[:chatroom]}" %> "></i>
          <p>Chat <sup class="smartphone"> <span class="badge badge-pill badge-danger text-top"> <%= notifications_count %> </span> </sup> </p>
        </div>
    <% end %>
  <% end %>
</div>



