<div class="navbar navbar-expand-sm navbar-lewagon navbar-flatcares">

    <%= link_to "/", class: "navbar-brand" do %>
      <h3>flatcares.com</h3>
    <% end %>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if (user_signed_in?) && (!current_user.flats.empty?) && (!@flat.nil?) %>
        <li class="nav-item">
          <% css_class_flat = controller?('flats') ? "nav-link text-orange" : "nav-link text-gray" %>
          <%= link_to "Home", flat_path(@flat), class: "#{css_class_flat}" %>
        </li>
        <li class="nav-item">
          <% css_class_bill = controller?('bills') ? "nav-link text-orange" : "nav-link text-gray" %>
          <%= link_to "Bills", flat_bills_path(@flat, @bill), class: "#{css_class_bill}" %>
        </li>
        <li class="nav-item">
          <% css_class_area = controller?('areas') ? "nav-link text-orange" : "nav-link text-gray" %>
          <%= link_to "Tasks", flat_areas_path(@flat, @area), class: "#{css_class_area}" %>
        </li>
        <li class="nav-item">
          <% css_class_event = controller?('events') ? "nav-link text-orange" : "nav-link text-gray" %>
          <%= link_to "Events", flat_events_path(@flat, @event), class: "#{css_class_event}" %>
        </li>
        <li class="nav-item">
          <% css_class_chat = controller?('chat') ? "nav-link text-orange" : "nav-link text-gray" %>
          <%= link_to "Chat", "#", class: "#{css_class_chat}" %>
        </li>
        <li class="nav-item dropdown">
          <button role="button" type="button" class="btn dropdown p-0" data-toggle="dropdown">
            <% if current_user.picture.attached? %>
              <%= cl_image_tag current_user.picture.key, :quality=>100, class: "avatar-secondary-orange", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <i class="fas fa-user-circle fa-2x"></i>
            <% end %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </button>
        </li>
      <% elsif (user_signed_in?) && (@flats.nil?) %>
        <li class="nav-item dropdown">
          <button role="button" type="button" class="btn dropdown p-0" data-toggle="dropdown">
            <% if current_user.picture.attached? %>
              <%= cl_image_tag current_user.picture.key, :quality=>100, class: "avatar-secondary-orange", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <i class="fas fa-user-circle fa-2x"></i>
            <% end %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </button>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>


