<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div data-controller="autocomplete">
        <%= simple_form_for [@flat, @event] do |f| %>
          <h2>Create an Event</h2>
          <div class="form-row">
            <div class="col">
              <%= f.input :name, placeholder: "Event's Name", label: false %>
            </div>
            <div class="col">
              <%= f.input :event_type, collection: EVENT_TYPE, placeholder: "Event's Type", label: false %>
            </div>
          </div>
          <%= f.input :location, class: "form-control", placeholder: "Event's Location", label: false, input_html: { data: { target: 'autocomplete.input'} } %>
          <%= f.input :date, class: "form-control", placeholder: "Event's Date", label: false  %>

          <div class="form-row">
            <div class="col">
              <%= f.input :start_time, class: "form-control", placeholder: 'Starting Time'%>
            </div>
            <div class="col">
              <%= f.input :end_time, class: "form-control", placeholder: 'Ending Time'%>
            </div>
          </div>
          <%= f.submit "Submit the Event", class: "btn btn-success text-white"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
