<%= form_tag flat_bills_path, method: :get, data: { target: "bills.form", flat: @flat.id } do %>

  <div class="btn-group mb-2 mr-2 select dropdown ">
    <button class="dropdown-toggle btn inactive-filter border-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Bill type
    </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <% @categories.each do |category| %>
        <button
          data-action="click->bills#filterBills"
          data-filter="category"
          data-value="<%= category %>"
          class="inactive-filter border-0 dropdown-item"
        >
          <%= category %>
        </button>
      <% end %>
    </div>
  </div>


  <div class="btn-group mb-2 mr-2 select dropdown ">
    <button class="dropdown-toggle btn inactive-filter border-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Bill amount
    </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <% @amounts.keys.each do |amount| %>
        <button
          data-action="click->bills#filterBills"
          data-filter="amount_cents"
          data-value="<%= amount %>"
          class="inactive-filter border-0 dropdown-item"
        >
          <%= amount %>
        </button>
      <% end %>
    </div>
  </div>

  <div class="btn-group mb-2 mr-2 select dropdown ">
    <button data-text="Bill status" class="dropdown-toggle btn inactive-filter border-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Bill status
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <button data-action="click->bills#filterBills" data-filter="pending" class="inactive-filter border-0 dropdown-item">
        Pending
      </button>
      <button data-action="click->bills#filterBills" data-filter="overdue" class="inactive-filter dropdown-item border-0">
        Overdue
      </button>
    </div>
  </div>

  <div class="btn-group mb-2 mr-2 button">
    <%= link_to "Reset Filters", flat_bills_path %>
  </div>
<% end %>


