<%= link_to flat_bill_path(@flat, bill), class: "secondary-link text-decoration-none" do %>
  <div class="<%= (bill.status == "Pending") || (bill.status == "Overdue") ? 'card-half-gray' : 'card-half-orange' %>">
    <%= render 'bill_name_icon', bill: bill %>
    <p><%=bill.due_date%></p>
    <div class="d-flex justify-content-between align-items-end">
      <% if bill.status == "Overdue" %>
        <p class="secondary-p m-0 text-danger"><br><%=bill.status %></p>
      <% else %>
        <p class="secondary-p m-0"><br><%=bill.status %></p>
      <% end %>
      <h3 class="m-0"><%= humanized_money_with_symbol(bill.amount) %></h3>
    </div>
  </div>
<% end %>
