<% if @your_index %>
  <div class="container">
    <div class="row">
      <div class="col-12">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="ml-3">House Bills</h1>
        <%= link_to image_tag('add-button.svg'), new_flat_bill_path %>
      </div>

      </div>
    </div>
  </div>

  <div class="pt-2" data-controller="bills">
    <%= render "bills_filter" %>
  </div>

  <div class="container">
    <div class="cards-grid">
      <% @bills.order('created_at desc').each do |bill| %>
        <%= link_to flat_bill_path(@flat, bill), class: "secondary-link text-decoration-none" do %>
          <div class="<%= (bill.status == "Pending") || (bill.status == "Overdue") ? 'card-half-gray' : 'card-half-orange' %>">
            <%= render 'bill_name_icon', bill: bill %>
            <p><%=bill.due_date%></p>
            <div class="d-flex justify-content-between align-items-end">
              <p class="secondary-p m-0"><br><%=bill.status%></p>
              <h3 class="m-0"><%= humanized_money_with_symbol(bill.amount) %></h3>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>


