<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <h1>Common Areas</h1>
        <%= link_to image_tag('add-button.svg'), new_flat_area_path %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <% @areas.each do |area| %>
    <%= link_to flat_area_path(@flat, area), class: "secondary-link text-decoration-none" do %>
      <div class="row border-bottom mx-1 my-2 py-3">
        <div class="col-2 justify-content-start align-items-center d-flex">
          <% if area.name.downcase == "kitchen" %>
            <i class="icon fas fa-utensils"></i>
          <% elsif area.name.downcase == "toilet" %>
            <i class="icon fas fa-toilet"></i>
          <% elsif area.name.downcase == "living room" %>
            <i class="icon fas fa-couch"></i>
          <% elsif area.name.downcase == "corridor" %>
            <i class="icon fas fa-road"></i>
          <% elsif area.name.downcase == "stairs" %>
            <i class="icon fas fa-shoe-prints"></i>
          <% elsif area.name.downcase == "garden" %>
            <i class="icon fab fa-pagelines"></i>
          <% else %>
            <i class="icon fas fa-home"></i>
          <% end %>
        </div>
        <div class="col-6 justify-content-start align-items-start">
            <h6 class="mb-1 d-block"><%= area.name.capitalize %></h6>
            <p class="mb-1 d-block"><%= area.description.capitalize %></p>
            <% if area.assigned_user.nil? %>
              <p class="mb-0 d-block">Nobody is assigned yet</p>
            <% else %>
              <p class="mb-0 d-block"><%= area.assigned_user.first_name %></p>
            <% end %>
        </div>
        <div class="col-4 justify-content-end align-items-center d-flex">
          <% area.tasks.all.each do |task| %>
              <% if task.completed == false %>
                <i class="tracker far fa-circle"></i>
              <% else %>
                <i class="tracker fas fa-circle"></i>
              <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>










