<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <div class="mb-3">
          <div class="d-flex justify-content-between" data-controller="tasks">
            <div
              class="mr-4"
              data-action="click->tasks#changeNameToInput"
              data-id="<%= @area.id %>"
              data-target="tasks.title"
            >
              <h1 class="mb-3">
                <%= @area.name %> tasks
              </h1>
            </div>
            <div>
              <%= link_to area_path(@area), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="far fa-trash-alt secondary-link mr-2"></i>
              <% end %>
            </div>

          </div>

          <div class="dropdown">
            <button role="button" type="button" class="btn dropdown p-0" data-toggle="dropdown">
              Assigned to: <%= @area.assigned_user.first_name %> <%= @area.assigned_user.last_name[0] %>
            </button>
            <div class="dropdown-menu p-1 text-center" aria-labelledby="dropdownMenuButton" data-remote="true">
              <% @flat.users.each do |user| %>
                <%= simple_form_for @area, class: "dropdown-item background-none p-0 m-0", url: flat_area_path(@flat, @area), method: :patch, remote: true do |f| %>
                    <%= f.input :assigned_user_id, :as => :hidden, :input_html => { :value => "#{user.id}" } %>
                    <%= f.submit "#{user.first_name}", class: "dropdown-item submit-tag p-0" %>
                <% end %>
              <% end %>
            </div>
          </div>

        <p><%= link_to "< Go to all tasks", flat_areas_path(@flat), class: "primary-link" %></p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <% @tasks.each do |task| %>
        <div class="task-card-white-low">
          <div class="row" id="task-<%= task.id %>">
            <div class="col-8 d-flex justify-content-start align-items-center">
              <%= link_to area_task_path(@area, task), method: :delete, remote: true, data: { confirm: "Are you sure?" } do %>
                <i class="far fa-trash-alt fa-sm mr-3"></i>
              <% end %>
              <p class="m-0 text-left"><%= task.name %></p>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
              <%= simple_form_for([ @area, task ], method: :patch) do |f| %>
                <%= f.input :completed, as: :hidden, input_html: { value: !task.completed }, remote: true %>
                <button class="bg-transparent border-0" style="outline: none;">
                  <% if task.completed == true %>
                    <%= image_tag 'check-done.svg' %>
                  <% else %>
                    <%= image_tag 'check-undone.svg' %>
                  <% end %>
                </button>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 text-center">
      <%= link_to image_tag('add-button.svg'), new_area_task_path(@area) %>
    </div>
  </div>
</div>
