<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-column">
          <h1><%= @area.name %> tasks</h1>

          <div>
          <%= link_to edit_area_path(@area) do %>
            <i class="fas fa-pencil-alt mr-1"></i>
          <% end %>
          <%= link_to area_path(@area), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="fas fa-trash ml-1"></i>
          <% end %>
          <p><%= link_to "< Go to Areas", flat_areas_path(@flat), class: "primary-link" %></p>

        </div>
        <%= link_to image_tag('add-button.svg'), new_area_task_path(@area) %>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-12">
      <% @tasks.each do |task| %>
        <div class="task-card-white-low">
          <div class="row">
            <div class="col-8 d-flex justify-content-start align-items-center">
              <%= task.name %>
              <%= link_to area_task_path(@area, task), method: :delete, remote: true, data: { confirm: "Are you sure?" } do %>
                <i class="fas fa-trash ml-1"></i>
              <% end %>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
              <%= simple_form_for([ @area, task ], remote: true, method: :patch) do |f| %>
                <%= f.input :completed, as: :hidden, input_html: { value: !task.completed } %>
                <button class="bg-transparent border-0" style="outline: none;">
                  <% if task.completed == true %>
                    <img src="/assets/check-done-614da79e6a29da8f678ce35972cdc10eb2feffbb265f4b32277857affd4446bf.svg">
                  <% else %>
                    <img src="/assets/check-undone-96bbbce41030e415f9625de214c5e86e5078d93c0f021b28c1bfe5c4c21deeb1.svg">
                  <% end %>
                </button>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
