<h2><%= t "devise.invitations.edit.header" %></h2>

<%= simple_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :patch }) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :invitation_token %>

  <div class="form-inputs">
    <div class="form-inputs">
      <div class="form-row">
        <div class="col">
          <%= f.input :first_name,
            required: true, class: "form-control" %>
        </div>
      <div class="col">
        <%= f.input :last_name,
          required: true, class: "form-control" %>
      </div>
    </div>
      
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t("devise.invitations.edit.submit_button") %>
  </div>
<% end %>
