<!DOCTYPE html>
<html>
  <head>
    <title>Flatcares</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link href="https://cdn.rawgit.com/nizarmah/calendar-javascript-lib/master/calendarorganizer.min.css" rel="stylesheet" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-user="<%= current_user&.id %>">

    <%= render 'shared/navbar' %>
    <div class="main-content <%= params[:controller] %> <%= params[:action] %>">
      <%= yield %>


      <!-- example flash messages  -->

      <p class="notice m-0"><%= notice %></p>
      <% if alert %>
        <p class="alert-danger alert m-0"><%= alert %></p>
      <% end %>
    </div>
    <%= render 'shared/navbar-smartphone' if (signed_in?) && (!current_user.flats.empty?) && (!@flat.nil?) %>
    <script src="https://cdn.jsdelivr.net/gh/csupery/calendar-javascript-lib@master/calendarorganizer.min.js"></script>
  </body>
</html>
