<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env.production? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179567155-1"></script>
      <%= javascript_include_tag 'analytics', async: true %>
    <% end %>
    <title><%= meta_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link href="https://cdn.rawgit.com/nizarmah/calendar-javascript-lib/master/calendarorganizer.min.css" rel="stylesheet" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-user="<%= current_user&.id %>" data-flat="<%= @flat&.id %>" data-controller="notifications">

    <%= render 'shared/navbar' if !controller?('pages') %>
    <div class="main-content <%= params[:controller] %> <%= params[:action] %>">
      <%= yield %>


      <!-- example flash messages  -->

      <p class="notice m-0"><%= notice %></p>
      <% if alert %>
        <p class="alert-danger alert m-0"><%= alert %></p>
      <% end %>
    </div>
    <%= render 'shared/navbar-smartphone' if (signed_in?) && (!current_user.flats.empty?) && (!@flat.nil?) %>
    <script src="https://cdn.jsdelivr.net/gh/csupery/calendar-javascript-lib@master/calendarorganizer.min.js"></script>
  </body>
</html>
